@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #02102b;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.header h2 {
    font-weight: 600;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.container{
    width: 450px;
    height: 600px;
    background-color: #686868;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid #3E445B;
    
}

.form{
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    padding-top: 1rem;
    
}

.form-control{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.form-control label{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff
}

.form-control input{
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid #3E445B;

    
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 25px;
    visibility: hidden
}

.form-control small {
    visibility: hidden;
    position: absolute;
    top: 180px;
    margin-top: 5px;
    font-size: 14px;
}

.form-control.success input{
    border: 2px solid #4ECA64;
}

.form-control.success i .icon-success{
    visibility: visible;
}

.form-control.error input{
    border: 2px solid #DB5A5A;
}


.form-control.error i .icon-error{
    visibility: visible;
}

button {
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-weight: bold;
    background-color: #02102b;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
     
}

button:hover{
    background: #05286e;
}