*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(13, 37, 37);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.container{
    width: 450px;
    height: 550px;
    background-color: rgb(49, 58, 37);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    
}

.form-control{
    display: flex;
    flex-direction: column;
    
    

}

.form-control input{
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;

    
}

